[[source]]
url = "https://repo.mci.dev/artifactory/api/pypi/pypi/simple"
verify_ssl = true
name = "mci"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
gunicorn = "*"
kafka-python = "*"
whitenoise = "*"
djangorestframework-simplejwt = { extras = ["crypto"], version = "*" }
python-dotenv = "*"
boto3 = "*"
django-storages = "*"
pillow = "*"
psycopg2-binary = "*"
drf-spectacular = "*"
django-prometheus = "*"
django-jalali-date = "*"
pyjwt = { extras = ["crypto"], version = "*" }
django-redis = "*"
requests = "*"
sentry-sdk = "==1.6.0"

[dev-packages]
flake8 = "*"
ipython = "*"
autopep8 = "*"
pylint = "*"
locust = "*"
faker = "*"

[requires]
python_version = "3.11"
